body, #content, #container {
    width: 100%;
    margin: 0;
    float: none;
    background: rgb(134, 134, 134);
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

body {
    font: 1em Georgia, "Times New Roman", Times, serif;
    color: #000;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 640px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
    color: #000;
}
h1 { font-size: 250%; }
h2 { font-size: 175%; }
h3 { font-size: 135%; }
h4 { font-size: 100%; font-variant: small-caps; }
h5 { font-size: 100%; }
h6 { font-size: 90%; font-style: italic; }

a:link, a:visited {
	    color: #53536b;
	    font-weight: bold;
	    text-decoration: none; }
#content a:link:after, #content a:visited:after {
			   content: " (" attr(href) ") ";
		       }